@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --accent: #E6533C;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    scroll-behavior: smooth;
    transition: .5s ease-in-out;
}


body {
    background-color: #000000;
    color: #fff;
    font-family: Urbanist, monospace;
}

header {
    background: linear-gradient(#000000, #ffffff20, #11111150);
}

/* =========== Common styles ========= */

.display-flex {
    display: flex;
}

.display-flex-row {
    display: flex;
    flex-direction: row;
}

.display-none {
    display: none;
}

.btn {
    border: 1px solid white;
    background-color: transparent;
    padding: .5rem 1rem;
    border-radius: 5rem;
    color: #ffffff;
    cursor: pointer;
    font-family: Urbanist, monospace;
}

.btn-accent {
    background-color: var(--accent);
    border: 1px solid var(--accent);
    border: none;
    font-weight: bold;
}

.btn-accent:hover {
    background-color: #7b291c;
}

span.fancy {
    font-family: Great Vibes, monospace;
}

.section-wrapper {
    margin: auto auto;
}

.section-texts {
    margin-top: 5rem;
}

.section-title {
    font-size: 3.3rem;
}

p.section-descripton {
    font-size: 1rem;
    color: #ffffff80;
    /* background-color: yellow; */
}

input {
    font-family: Urbanist, monospace;
}


.test {
    border: 2px dashed #444444;
}

.section-ttile {
    font-weight: bolder;
}

.section-description {
    font-size: 1rem;
    color: #ffffff50;
}

/* ========== header begins ========== */



header nav {
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 0 10%;

}

header nav h2.logo,
.logo {
    font-size: 2rem;
    color: var(--accent);
}

header nav div.nav-elements ul {
    list-style: none;
    border: 1px solid #ffffff20;
    border-radius: 5rem;
    justify-content: space-around;
    align-items: center;
    padding-right: 2rem;
    gap: 3rem;
}


/* ============= hero section begins ============*/

section.hero-section div.hero-contents {
    margin: auto auto;
    justify-content: space-around;
    align-items: center;
}

section.hero-section div.hero-contents div.hero-texts,
section.hero-section div.hero-contents div.hero-image {

    /* border: 1px solid red; */
}

section.hero-section div.hero-contents div.hero-texts h1 {
    font-size: 4.5rem;

}

section.hero-section div.hero-contents div.hero-texts h1 span {
    font-weight: bolder;
}

section.hero-section div.hero-contents div.hero-texts p {
    font-size: 1rem;
    width: 32rem;
}

section.hero-section div.hero-contents div.hero-texts button.btn {
    margin: 2.5rem 0;
    padding: 1rem 2.5rem;
}

section.hero-section div.hero-contents div.hero-image img {
    /* border: 1px solid yellow; */
    transform: translateY(10%);
}

/* ========== stat buttons ========= */
section.hero-section div.hero-contents div.hero-image div.stat {
    background-color: #ffffff20;
    backdrop-filter: blur(2rem);
    border-radius: .7rem;
    border: 1.5px solid #ffffff40;
    width: max-content;
    padding: 15px 23px;
}

section.hero-section div.hero-contents div.hero-image div.stat1 {
    transform: translate(200px, -400px)
}

section.hero-section div.hero-contents div.hero-image div.stat2 {
    justify-content: space-between;
    gap: 20px;
    transform: translate(-100px, -250px)
}

section.hero-section div.hero-contents div.hero-image div.stat2 i.fa-circle-play {
    font-size: 2.5rem;
    color: var(--accent);
}



/* ============Habit change section =============== */

section.habit {
    text-align: center;
}

section.habit div.habit-wrapper div.section-texts h2.section-title {
    font-size: 3.3rem;
    /* background-color: yellow; */
}

section.habit div.habit-wrapper div.cards-wrapper {
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
}

section.habit div.habit-wrapper div.cards-wrapper div.card {
    width: 11rem;
    padding: 1rem;
    /* border: solid yellow; */
}

section.habit div.habit-wrapper div.cards-wrapper div.card img.card-img {
    border-radius: 50%;
}

section.habit div.habit-wrapper div.cards-wrapper div.card div.card-text {
    margin-top: 1.8rem;
}

/* ============ Run extr section =============== */
section.run {
    max-width: 75vw;
    margin: 10% auto;
}

section.run-extra div.run-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #222222;
    width: 60vw;
    margin: 6% auto;
    border-radius: 18px;
    padding: 3rem;
}

section.run-extra div.run-wrapper div.run-texts p,
section.run-extra div.run-wrapper div.run-texts button {
    margin-top: 1.5rem;
}

section.run-extra div.run-wrapper div.run-texts button {
    padding: 1rem 2.5rem;
}

section.run-extra div.run-wrapper div.run-img {
    background-image: url("/images/run.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: none;
    border-radius: 18px;
}


/* ============= BMI Section===========  */
section.bmi div.bmi-heading {
    margin: auto auto;
    /* background-color: pink; */
    width: max-content;
}

section.bmi div.bmi-main {
    padding: 2.5rem 0;
}

section.bmi div.bmi-main div.section-wrapper {
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.5rem 0;
}

section.bmi div.bmi-main div.section-wrapper div.chart-part {
    display: grid;
    place-content: center;
    padding: 2rem 0;
}

section.bmi div.bmi-main div.section-wrapper div.chart-part table {
    border-collapse: collapse;
    margin: 2rem 0;
}

section.bmi div.bmi-main div.section-wrapper div.chart-part td,
th {
    padding: 1rem;
    border: 1px solid #ffffff40;
    text-align: left;
}





/* ============ BMI Caluculate part==================== */

section.bmi div.bmi-main div.section-wrapper div.calculate-part {
    display: grid;
    place-content: center;
    width: 50%;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part p {
    margin: 1rem 0;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part input,
select {
    background-color: #ffffff20;
    border: none;
    border-radius: .5rem;
    padding: 1rem 3.5rem;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part input::placeholder,
section.bmi div.bmi-main div.section-wrapper div.calculate-part select>option:placeholder-shown {
    color: #ffffff40 !important;
}




section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields {
    display: grid;
    /* grid-template-areas: "h h h w w w"
 "g g g a a a"
      " b b"; */
    /* background-color: yellow; */
    /* grid-template-rows: repeat(2,1fr); */
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 1rem 0;

}

section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields input.height {
    grid-area: "h";
    padding: 1rem 3rem;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields input.weight {
    grid-area: "w";
    padding: 1rem 3rem;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields select#gender {
    grid-area: "g";
    padding: 1rem 3rem;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields select#activity {
    grid-area: "a";
    padding: 1rem 3rem;
}

section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields button.calculate {
    grid-area: "b";
    padding: 1rem 3rem;
}


/* =============== our team part ============= */

section.team div.section-wrapper {
    margin: auto auto;

}

section.team div.section-wrapper div.section-texts {
    margin: auto auto;
    text-align: center;
}

section.team div.section-wrapper div.gallery {
    background-color: #222222;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 70%;
    margin: 2.5rem auto;
    padding: 2rem;
    border-radius: 1rem;
}

section.team div.section-wrapper div.gallery div.card {
    height: 15rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #00000040;
    background-blend-mode: overlay;
    border-radius: .8rem;
}

section.team div.section-wrapper div.gallery div.card1 {
    background-image: url("/images/trainer1.png");
    background-position: top;
}

section.team div.section-wrapper div.gallery div.card2 {
    background-image: url("/images/trainer2.png");
}

section.team div.section-wrapper div.gallery div.card3 {
    background-position: top;
    background-image: url("/images/trainer3.png");
}

section.team div.section-wrapper div.gallery div.card4 {
    background-image: url("/images/trainer4.png");
    background-position: top, right;
}

section.team div.section-wrapper div.gallery div.card5 {
    background-image: url("/images/trainer5.png");
}

section.team div.section-wrapper div.gallery div.card6 {
    background-image: url("/images/trainer6.png");
}

section.team div.section-wrapper div.gallery div.card div.instructor {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    /* background-color: yellow; */
    height: 90%;
    margin: 0 0 0 1rem;
}


/* ============= Free swags option= ========== */
section.review {
    max-width: 75vw;
    margin: 10% auto;
}

section.review div.review-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #222222;
    width: 60vw;
    margin: 6% auto;
    border-radius: 18px;
    padding: 3rem;
}

section.review div.review-wrapper div.review-texts>* {
    margin-left: 2rem;
}

section.review div.review-wrapper div.review-texts p,
section.review div.review-wrapper div.review-texts button {
    margin-top: 1.5rem;
}

section.review div.review-wrapper div.review-texts button {
    padding: 1rem 2.5rem;
}

section.review div.review-wrapper div.merch-img {
    display: grid;
    place-content: center;
}

section.review div.review-wrapper div.merch-img div.circle-accent {
    height: 10rem;
    width: 10rem;
    background-color: var(--accent);
    border-radius: 50%;
}

section.review div.review-wrapper div.merch-img div.circle-accent img {
    width: 10rem;
    position: relative;
}

section.review div.review-wrapper div.merch-img div.circle-accent img.animate1 {
    width: 10rem;
    position: relative;
    transform: rotate(30deg) translateX(5rem) translateY(1rem);
}

section.review div.review-wrapper div.merch-img div.circle-accent img.animate2 {
    width: 10rem;
    position: relative;
    transform: rotate(30deg) translateX(-10rem) translateY(-5rem);
}

section.review:hover div.review-wrapper div.merch-img div.circle-accent img.animate1 {
    width: 15rem;
    transform: rotate(30deg) translateX(1rem) translateY(-5rem);
}

section.review:hover div.review-wrapper div.merch-img div.circle-accent img.animate2 {
    transform: rotate(30deg) translateX(-10rem) translateY(-10rem);
    width: 15rem;
}


/* =========== Footer begins =========== */

footer {
    padding: 2rem;
}

footer div.branding-part,
div.copyright-part {
    width: 70%;
    margin: auto auto;
}

footer div.branding-part {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

footer div.branding-part div.brand-child {
    display: grid;
    place-content: center;
    /* background-color: yellow; */
}

footer div.branding-part div.branding .logo {
    margin: 1rem 0;
}



footer div.branding-part div.links ul {
    list-style: none;
}

footer div.branding-part div.links ul h2 {
    margin: 1rem 0;
}

footer div.branding-part div.links ul {
    display: grid;
    gap: 1rem;
}

footer div.copyright-part {
    margin: 1rem auto;
    padding: 1rem;
    display: grid;
    align-items: center;
}

footer div.copyright-part hr {
    border: #ffffff20 solid 2px;
}

footer div.copyright-part span {
    margin: 2rem auto;
}










/* =====================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
========================================================================================
*/















@media screen and (max-width:576px) {

    /* *:nth-child(n) {
        border: 1px dashed yellow;
    }

    *:nth-child(n+2) {
        border: 1px dashed white;
    } */
    .mobile-hide {
        display: none;
    }

    .mobile-show {
        display: inline;
    }

    header nav {
        padding: 2.5rem .5rem;
        margin: 0 10%;
    }

    /* ============= hero section begins ============*/

    section.hero-section div.hero-contents {
        margin: auto auto;
        /* justify-content: space-around;
            align-items: center; */
        flex-direction: column;
    }

    section.hero-section div.hero-contents div.hero-texts,
    section.hero-section div.hero-contents div.hero-image {
        max-width: 80%;
        /* border: 1px solid red; */
        margin: auto auto;
    }

    section.hero-section div.hero-contents div.hero-texts {
        margin: 4rem 0 0 0;
    }

    section.hero-section div.hero-contents div.hero-texts h1 {
        font-size: 2rem;
        width: 60%;

    }

    section.hero-section div.hero-contents div.hero-texts p {
        width: 80%;
        height: max-content;
        margin: 2rem 0 0 0;
    }

    section.hero-section div.hero-contents div.hero-texts button.btn {
        margin: 1rem 0;
        padding: .8rem 1rem;
    }

    section.hero-section div.hero-contents div.hero-image img {
        /* border: 1px solid yellow; */
        max-width: 90%;
    }

    /* ========== stat buttons ========= */
    section.hero-section div.hero-contents div.hero-image div.stat {
        padding: .5rem;
    }

    section.hero-section div.hero-contents div.hero-image div.stat1 {
        transform: translate(100px, -250px);
    }

    section.hero-section div.hero-contents div.hero-image div.stat2 {
        transform: translate(0px, -200px);
    }

    section.hero-section div.hero-contents div.hero-image div.stat2 i.fa-circle-play {
        font-size: 2.5rem;
        color: var(--accent);
    }



    /* ============Habit change section =============== */

    section.habit div.habit-wrapper div.section-texts h2.section-title {
        font-size: 2rem;
        /* background-color: yellow; */
    }

    section.habit div.habit-wrapper div.cards-wrapper {
        justify-content: center;
        align-items: center;
        gap: 4rem;
        margin: 4rem 0;
        flex-direction: column;
    }

    /* ============ Run extr section =============== */

    section.run-extra div.run-wrapper {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 1fr .5fr;
        gap: 2rem;
    }

    section.run-extra div.run-wrapper div.run-img {
        background-image: url("/images/run.jpg");
        background-position: right;
        background-size: cover;
    }


    /* ============= BMI Section===========  */

    section.bmi div.bmi-heading {
        /* background-color: pink; */
        max-width: 100%;
    }

    section.bmi div.bmi-heading div.section-texts {
        text-align: center;
    }

    section.bmi div.bmi-heading div.section-texts h1.section-title {
        font-size: 2.5rem;
    }

    section.bmi div.bmi-heading div.section-texts p.section-description {
        max-width: 90%;
        margin: 2rem auto;
    }


    section.bmi div.bmi-main div.section-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-content: center;
        width: 80vw;
        margin: auto auto;
    }

    section.bmi div.bmi-main div.section-wrapper div.chart-part {
        max-width: max-content;
        margin: auto auto;
    }

    /* ============ BMI Caluculate part==================== */

    section.bmi div.bmi-main div.section-wrapper div.calculate-part {
        display: grid;
        place-content: center;
        /* background-color: red; */
        margin: auto auto;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part h1 {
        font-size: 2rem;
        width: max-content;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part p {
        margin: 1rem 0;
        width: 100%;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields {

        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        /* background-color: rgba(255, 255, 0, 0.342); */
        /* width: 50%; */
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields input {
        background-color: #ffffff20;
        border: none;
        width: 10vw;
        border-radius: .5rem;
        padding: 1rem 1.5rem;
        /* background-color: rgba(255, 255, 0, 0.342); */
        /* width: 50%; */

    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields select {
        /* background-color: yellow; */
        background-color: #ffffff20;
        border: none;
        width: 100%;
        border-radius: .5rem;
        padding: 1rem 1.5rem;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields input::placeholder,
    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields select>option:placeholder-shown {
        color: #ffffff !important;
    }


    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields input.height {
        grid-area: "h";
        padding: 1rem 3rem;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields input.weight {
        grid-area: "w";
        padding: 1rem 3rem;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields select#gender {
        grid-area: "g";
        padding: 1rem 3rem;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields select#activity {
        grid-area: "a";
        padding: 1rem 3rem;
    }

    section.bmi div.bmi-main div.section-wrapper div.calculate-part form.input-fields button.calculate {
        grid-area: "b";
        padding: 1rem 3rem;
    }


    /* =============== our team part ============= */

    section.team div.section-wrapper {
        padding: .5rem;

    }

    section.team div.section-wrapper div.section-texts {}

    section.team div.section-wrapper div.section-texts h1 {
        font-size: 2rem;
    }

    section.team div.section-wrapper div.gallery {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }

    section.team div.section-wrapper div.gallery div.card {
        height: 20rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #00000040;
        background-blend-mode: overlay;
    }

    section.team div.section-wrapper div.gallery div.card div.instructor {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: end;
        /* background-color: yellow; */
        height: 90%;
        margin: 0 0 0 1rem;
    }

    section.team div.section-wrapper div.gallery div.card1 {
        background-position: top;
    }

    section.team div.section-wrapper div.gallery div.card3 {
        background-position: top;

    }



    /* ============= Free swags option= ========== */
    section.review div.review-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: 70%;
    }

    section.review div.review-wrapper div.review-texts>* {
        margin-left: 0rem;
    }

    section.review div.review-wrapper div.review-texts h1 {
        font-size: 2rem;
    }

    section.review div.review-wrapper div.merch-img div.circle-accent {
        height: 10rem;
        width: 10rem;
        background-color: var(--accent);
        border-radius: 50%;
    }

    section.review div.review-wrapper div.merch-img div.circle-accent img {
        width: 5rem;
    }

    section.review div.review-wrapper div.merch-img div.circle-accent img.animate1 {
        width: 10rem;
        transform: rotate(30deg) translateX(3rem) translateY(-0rem);
    }

    section.review div.review-wrapper div.merch-img div.circle-accent img.animate2 {
        width: 8rem;
        transform: rotate(30deg) translateX(-5rem) translateY(-5rem);
    }

    section.review:hover div.review-wrapper div.merch-img div.circle-accent img.animate1 {
        width: 15rem;
        transform: rotate(30deg) translateX(1rem) translateY(-5rem);
    }

    section.review:hover div.review-wrapper div.merch-img div.circle-accent img.animate2 {
        transform: rotate(30deg) translateX(-10rem) translateY(-10rem);
        width: 15rem;
    }


    /* =========== Footer begins =========== */


    footer div.branding-part {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);

    }

    footer div.branding-part div.brand-child {
        display: grid;
        place-content: start;
        /* background-color: yellow; */
    }

    footer div.branding-part div.links ul h2 {
        margin: 1rem 0;
    }

    footer div.branding-part div.links ul {
        display: grid;
        gap: 1rem;
    }

    footer div.copyright-part {
        margin: 1rem auto;
        padding: 1rem;
        display: grid;
        align-items: center;
    }

    footer div.copyright-part hr {
        border: #ffffff20 solid 2px;
    }

    footer div.copyright-part span {
        margin: 2rem auto;
    }

}